node_modules/
dist/
.env
.env.local
.env.*.local
*.log
.DS_Store

# next
.next
out

# processing outputs
processing/uploads/*
processing/dense/*
processing/sparse/*
processing/meshes/*
processing/exports/*

# 3D assets
*.ply
*.obj
*.fbx
*.mtl
*.blend1

# misc
public/models/*.glb
